#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none';}"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Request Invitation
    .modal-body
      = f.error_notification
      = f.input :email, :placeholder => 'user@example.com'
    .modal-footer
      = f.submit "Request Invitation", :class => "btn btn-primary", :id => 'invitation_button'
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
#romance-copy{:style => "text-align: center; margin-top: 80px"}
  %h2 Fuel For Thought
  %h2 Want in?
#call-to-action{:style => "text-align: center; margin-top: 80px"}
  %a.btn.btn-primary.btn-large{"data-toggle" => "modal", :href => "#request-invite"} Request invite

.container
  .row
    .span6.pagination-centered
      %h2
        Sweets
      %h4
        Chocolate Temptations
        -Dark, Milk Chocolate Ganache
        -Hot Cinnamon Truffles
        -Coconut Almond Clusters
      %h4
        Cookies from Healthy to Decadent
        -Upgraded Oatmeal Cookies
      %h4
        Custards
        -Pumpkin Spice-seasonal-
        -Chocolate
        -Coconut
      %h4
        Sweet Breads
        -Banana Nut Bread
        -Zucchini Bread
      %h4
        -Light Italian Apple Cake
    .span6.pagination-centered
      %h2
        Savories
      %h4
        Quiches 
        Regular or Mini-sized 
        from Healthy* to Wicked
        -Onion, bacon and cheddar.
        -Spinach and onion
        -Sundried tomato and bacon
        -Cheese, cheese and cheese.
      %h4
        Tarts
        -Tomato Tart with homemade herbed crust
        -Onion and Curry tart
      %h4
        Breads from Basic to Ballistic
      %h4
        Bacon Candy! Classic Bacon, too.


        *all quiches are available with an almond crust upon request

       

= render 'layouts/olark'